@charset "UTF-8";
/* CSS Document */


/* BEGIN Contact page content*/

#content_container_contact {height:425px;background-color: #ffffff;width:960px;padding:10px;}


#tom {border-radius:10px;}


/* END Contact page content*/